<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="~{fragments/base :: head}"></header>
	<style>
		td { text-align: center; }
	</style>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <img src="/ss/img/ck-logo.png" height="60">
      <div class="p-2 bg-dard justify-content-center">
        <img src="https://picsum.photos/1500/180" width="100%">
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top: 270px;">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><h3><strong>로그인</strong></h3></div>
            <hr>
            <form action="/ss/user/login" method="post">
              <table class="table table-borderless">
                <tr>
                  <td style="width: 45%;"><label class="col-form-label">사용자 ID</label></td>
                  <td style="width: 55%;"><input type="text" name="uid" class="form-control"></td>
                </tr>
                <tr>
                  <td><label class="col-form-label">패스워드</label></td>
                  <td><input type="password" name="pwd" class="form-control"></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button class="btn btn-primary" type="submit">확인</button>
                    <button class="btn btn-secondary" type="reset">취소</button>
                  </td>
                </tr>
              </table>
            </form>
            <p class="mt-3">
              <span class="me-3">사용자 계정이 없으신가요?</span>
              <a href="/ss/user/register">사용자 가입</a>
            </p>
            <div class="mt-3 mb-3">
              <span class="me-3">소셜 계정으로 로그인</span>
              <span>
                <a href="#"><img src="/ss/img/google-logo.png" height="32"></a>
                <a href="#"><img src="/ss/img/github-logo.png" height="32"></a>
                <a href="#"><img src="/ss/img/naver-logo.jpg" height="32"></a>
                <a href="#"><img src="/ss/img/kakao-logo.png" height="32"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

	<footer th:replace="~{fragments/base :: bottom}"></footer>
</body>
</html>